tls:
  stores:
    default:
      defaultCertificate:
        certFile: /etc/traefik/certs/local.crt
        keyFile: /etc/traefik/certs/local.key

http:
  routers:
    {{ range $key, $value := .Env }}
      {{ if hasPrefix $key "APP_" }}
      {{ $appName := trimPrefix $key "APP_" | toLower }}
    router-{{ $appName }}:
      rule: "PathPrefix(`/laboratorio/{{ $appName }}`)"
      service: service-{{ $appName }}
      entryPoints: [web, websecure]
      tls: true
      middlewares: [strip-{{ $appName }}]
      {{ end }}
    {{ end }}

  services:
    {{ range $key, $value := .Env }}
      {{ if hasPrefix $key "APP_" }}
      {{ $appName := trimPrefix $key "APP_" | toLower }}
    service-{{ $appName }}:
      loadBalancer:
        servers:
          - url: "{{ $value }}"
      {{ end }}
    {{ end }}

  middlewares:
    {{ range $key, $value := .Env }}
      {{ if hasPrefix $key "APP_" }}
      {{ $appName := trimPrefix $key "APP_" | toLower }}
    strip-{{ $appName }}:
      stripPrefix:
        prefixes: ["/laboratorio/{{ $appName }}"]
      {{ end }}
    {{ end }}
